<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FOAT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>291F7F1E1C0CA06C002F0A7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>291F7F321C0CA06C002F0A7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>291F7F3D1C0CA06C002F0A7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
